html {
  /* remで.x倍(rem)の指定する為にrootのフォントサイズを一旦10pxに */
  font-size: 62.5%;
  height: 100vh;
}

body {
  /* chromeのバグ対策でbody内のフォントサイズはemで指定 */
  font-size: 1.6em;
  font-family: sans-serif;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: rgb(64, 64, 64);
  color: rgb(192, 192, 192);
}

.body__header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.body__footer {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  text-align: center;
}

.body__main {
  overflow: hidden;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  display: flex;
}

.main__room-list,
.main__lounge-chat,
.room-list__item,
.lounge-chat-list__item {
  border-radius: 1.6rem;
  margin: 0.5rem;
  padding: 1.4rem;
}

.main__room-list,
.main__lounge-chat {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  background-color: rgb(32, 32, 32);
}

.main__room-list {
  width: 70%;
}

.main__lounge-chat {
  flex: 1;
}

.room_list__list-wrapper,
.lounge_chat__list-wrapper {
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.room_list__list-wrapper::-webkit-scrollbar,
.lounge_chat__list-wrapper::-webkit-scrollbar {
  width: 0.8rem;
}

.room_list__list-wrapper::-webkit-scrollbar-track,
.lounge_chat__list-wrapper::-webkit-scrollbar-track {
  border-radius: 0.8rem;
  background: rgb(64, 64, 64);
}

.room_list__list-wrapper::-webkit-scrollbar-thumb,
.lounge_chat__list-wrapper::-webkit-scrollbar-thumb {
  border-radius: 0.8rem;
  background: rgb(128, 128, 128);
}

.room-list,
.lounge-chat-list {
  list-style: none;
}

.room-list__item,
.lounge-chat-list__item {
  background-color: rgb(48, 48, 48);
}

.lounge-chat-list__item {
  font-family: serif;
}

.lounge-chat-list__item-message {
  margin-left: 1rem;
}

.body__header,
.body__footer {
  padding: 0.5rem;
  font-size: 1.4rem;
  background-color: rgb(32, 32, 32);
}

.header__name-input,
.header__trip-input,
.lounge-chat__message-input {
  color: rgb(192, 192, 192);
  background-color: rgb(64, 64, 64);
  border: solid 0.1rem rgb(192, 192, 192);
  border-radius: 0.5rem;
  margin: 0.2rem;
}

.header__name-send-button,
.room-list__reload-list-button,
.room-list__create-room-button,
.lounge-chat__send-to-lounge-button {
  font-family: sans-serif;
  color: rgb(192, 192, 192);
  background-color: transparent;
  border: solid 0.2rem;
  border-radius: 0.5rem;
  margin: 0.2rem;
}

.header__name-send-button:hover,
.room-list__reload-list-button:hover,
.room-list__create-room-button:hover,
.lounge-chat__send-to-lounge-button:hover {
  background-color: rgba(235, 235, 235, 0.25);
}

.copyright__link-github {
  color: rgb(192, 192, 192);
  text-decoration: none;
}


/* jsPanelのヘッダーボタンのカスタマイズ */
.custom-control-icon.custom-smallify::before {
  content: "\025B4";
}

.custom-control-icon.custom-smallifyrev::before {
  content: "\025BE";
}

.custom-control-icon.custom-minimize::before {
  content: "\0268A";
}

.custom-control-icon.custom-normalize::before {
  content: "\02750";
}

.custom-control-icon.custom-maximize::before {
  content: "\02610";
}

.custom-control-icon.custom-close::before {
  content: "\02715";
}
