.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

body {
  background-color: rgb(64, 64, 64);
  color: rgb(192, 192, 192);
}

h1, h2, h3 {
  font-family: sans-serif;
}

header, footer {
  padding: 0.5em;
  background-color: rgb(32, 32, 32);
}

header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  margin-bottom: 0.25em;
}

main {
  display: grid;
  grid-template-columns: 70vw 1fr;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

#room_list_wrapper {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#lounge_chat_wrapper {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

footer {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  margin-top: 0.25em;
  text-align: center;
}

footer a {
  color: rgb(192, 192, 192);
  text-decoration: none;
}

input {
  background-color: rgb(96, 96, 96);
  color: rgb(192, 192, 192);
  border: none;
  border-radius: 0.25em;
  margin: 0.25em;
}

button {
  background-color: rgb(32, 32, 32);
  color: rgb(192, 192, 192);
  border: solid 2px rgb(192, 192, 192);
  border-radius: 0.25em;
  margin: 0.25em;
}

button:hover {
  background-color: rgb(96, 96, 96);
}

.box {
  overflow: hidden;
  background-color: rgb(32, 32, 32);
  margin: 0.25em;
  padding: 1em;
  border-radius: 1em;
}

.list_box {
  list-style: none;
  background-color: rgb(48, 48, 48);
  margin: 0.25em;
  padding: 0.5em;
  border-radius: 0.5em;
}

.room_list_box:hover {
  background-color: rgb(96, 96, 96);
}

.message_box {
  list-style: none;
}

.message {
  margin-left: 0.5em;
}
